<mat-toolbar mat-dialog-title color="primary">
  <mat-toolbar-row>
    Credits
    <span class="spacer"></span>
    <button mat-icon-button mat-dialog-close>
      <mat-icon data-close>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content>
  <div class="avatar"><img src="https://avatars.githubusercontent.com/u/29326278?v=4"></div>
  <h2 style="text-align: center;">👋 hi, im david</h2>
  <a href="https://github.com/davidmimay"></a>
  <p>Thank you so much for getting here! im the creator and maintainer of mat-theme.
    I love to create PWA like this using Angular+Material+Firebase,
    and this one is mean to help you with your angular material theme.</p>
  <h3>Special thanks to:</h3>
  <ul>
    <li>Timothy Soehnlin <a href="https://github.com/arciisine/MaterialThemeGenerator">source code</a></li>
    <li>Mikel Bitson, the <a href="http://mcg.mbitson.com/">demo</a>provided the algorithm for color palette computation.</li>
    <li>Material-UI, for providing the <a href="https://github.com/mui-org/material-ui">source for the SVG icon sets.</a></li>
    <li>The team behind the <a href="https://angular.material.io/">Angular Material</a></li>
  </ul>
</div>